.title_product {
  padding-top: 20px;
  padding-bottom: 12px;
  border-bottom: 1px dotted #333333;
  font-weight: 600;
  position: relative;
  font-size: 20px;
}

.icon_product {
  position: absolute;
  left: 49%;
  width: 30px;
  background-color: white;
  top: 45px;
}

.product {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 70px;
}

.card {
  width: 262px;
  margin-bottom: 50px;
  /* box-shadow: #ffa000; */
  background-color: #fff;
  box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.75);
}

.card img {
  margin-top: 15px;
  width: 230px;
  height: 200px;
  margin-bottom: 15px;
}

.price_product {
  margin-bottom: 30px;
  margin-top: 5px;
}

.highlight_btn {
  padding: 10px;
  background-color: #ffa000;
  color: white;
  border-color: none;
  margin-bottom: 50px;
}

.advertise img {
  width: 100%;
  position: relative;
}

.advertise {
  position: relative;
}

.advertise_title {
  text-align: center;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
  color: white;
  position: absolute;
}

.advertise_title .sub_advertise {
  font-weight: 600;
  color: #ffa000;
}
